
#skills{
    height: 35vh;

    #skillHeading{
        margin: 10vh;

        h1{
            font-weight: bold;
        }
    }


    #skillsIcon{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
        
        .skillCard{
            width: 110px;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
        
    }
}


@media screen and (width<450px){
    #skills{
        display: block;
        height: 85vh;
        margin-top: 65vh;

        #skillsIcon{
            margin-right: 0px;
            margin-left: 20px;
        }
    }
}


