.home{
    // position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 12px;
    flex: 1;
    width: 100%;

    .details{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        // translate: -20px 20px;
        // animation: animate .6s ease-in forwards;

        // @keyframes animate {
        //     to{
        //         opacity: 1;
        //         translate: 0;
        //     }
        // }

        .intro{
            font-size: 27px;
            width: 50%;
        }

        .name{
            // position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;


            .txt{
                font-size: 3em;
                font-weight: bold;
                filter: drop-shadow(1px 2px  #f6f7f8);
                // box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            }
        }

        .stack{
            font-size: 17px;
            margin-top: 8px;
            // position: absolute;
            // bottom: 80px;
            // left: 10px;
            // transform-origin: right;
            // rotate: 270deg;
        }

        
    }

    

    .profile-img img{
        width: 500px;
        height: 500px;
        border-radius: 100px;
        // translate: 200px 20px;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        animation: animate .6s ease-out .6s forwards;
    }

    
}