#tools{
    height: 35vh;


    #toolsHeading{
        margin: 10vh;
       
        h1{
            font-weight: bolder;
        }
    }



    #toolsIcon{
        display: flex;
        justify-content: center;
        align-items: center;


        .toolCard{
            width: 110px;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            height: 100px;
            margin-left: 6vh;
        }
    }
}



@media screen and (width<450px){
    #tools{
        height: 75vh;
        margin-top: 15vh;
        
        
        #toolsIcon{
            margin-right: 0px;
            margin-left: 20px;

            .toolCard{
            margin-left: 0;
        }
        }
        
    }
}
