header{
    position :fixed;
    top: 0;
    width: 100%;
    padding: 12px 30px;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(36, 35, 35);
    

    .logo{
        // display: flex;
        // gap: 10px;
        color: aliceblue;
        // justify-content: center;
        // align-items: center;

        &:hover{
            color: black;
            background-color: aliceblue;
            border-radius: 20px;
            padding: 0px 10px; 
        }

        h3{
            font-size: 30px;
            letter-spacing: 3px;
        }

    }


    .nav ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: aliceblue;
        cursor: pointer;

        li{
            display: flex;
            padding: 10px 20px;
            font-size: 1.3em;
        }

        a{
            text-decoration: none;
            color: aliceblue;
        }

        &:hover{
            color: #635f5f;
        }
    }

    &:hover a:hover{
        color: #ccc;
        box-shadow: 0 2px 0 0 currentColor ;
    }
    
   
}

