$secondary-color: #a3b18a;
$base-color: #344e41;


*{
    margin: 0;
    box-sizing: border-box;
    // background-color: $secondary-color;
}

.App{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: $base-color;

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        width: 100%;


        .page{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            min-height: 100vh;
            width: 70%;
            
        }

        #about{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            // min-height: 100vh;
            width: 70%;
            min-height: 80vh;
        }

        .skills{
            width: 100%;
        }


        .tool{
            width: 100%;
        }

        .social-media{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px 30px;
            margin-left: 5%;
            margin-top: 80px;
            height: 50vh;
            
            // border: 1px solid #000000;

            .social-text{
                font-size: 25px;
                font-weight: bold;
                margin-bottom: 10px;
                
            }

            .social-links{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                // cursor: pointer;
                padding: 60px;
                flex-wrap: wrap;
                
            }
            
        }
    }

    
}

::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb{
    border-radius: 100px;
    background-color: rgb(26, 26, 26);
}

@media screen and ( max-width: 460px ){

    #home{
        height: 700px;
    }
    #about{
        height: 700px;
    }

    
}
